<div class="content">
    <h4>Select the paint type</h4>
    <div class="form">
        <div class="field">
            <label class="label">Color</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Style</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
