<div class="card">
    <header class="card-header">
        <p class="card-header-title">Select Your Guitar Parts</p>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="steps">
                <div *ngFor="let step of steps; let i = index" class="step" [ngClass]="{ success: steps[i] }">
                    {{ i + 1 }}
                </div>
            </div>
            <div [ngSwitch]="stepSelected">
                <app-step-client *ngSwitchCase="0"></app-step-client>
                <app-step-wood *ngSwitchCase="1"></app-step-wood>
                <app-step-gear *ngSwitchCase="2"></app-step-gear>
                <app-step-paint *ngSwitchCase="3"></app-step-paint>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a *ngIf="!(stepSelected === 0)" href="#" class="card-footer-item" (click)="onClickPreviousStepHandle()">
            Back
        </a>
        <a *ngIf="!(stepSelected === stepTotal)" href="#" class="card-footer-item" (click)="onClickNextStepHandle()">
            Next
        </a>
    </footer>
</div>
