<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Shop Cart
        </p>
    </header>
    <div class="card-content">
        <div class="content shop-description">
            <ul>
                <li>
                    <div class="list-item">
                        <h5 class="is-size-5">Products</h5>
                        <h5 class="is-size-5">Price ($)</h5>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <p class="is-marginless">Neck Wood: Ebano</p>
                        <p class="is-marginless">$35.00</p>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <p class="is-marginless">Neck Wood: Ebano</p>
                        <p class="is-marginless">$35.00</p>
                    </div>
                </li>
            </ul>
            <hr />
            <div *ngIf="busy" class="loading">
                <span class="icon has-text-info">
                    <i class="fas fa-spinner"></i>
                </span>
            </div>
            <div *ngIf="!busy" class="list-item">
                <h5 class="is-size-5 is-marginless">Total</h5>
                <h5 class="is-size-5 is-marginless">$35.00</h5>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a 
            class="card-footer-item"
            [class.disabled]="disableButton"
            [attr.href]="disableButton ? null : '#'"
            (click)="disableButton ? null : onCheckout()"
        >
            Checkout
        </a>
    </footer>
</div>
