<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Shop Cart
        </p>
    </header>
    <div class="card-content">
        <div class="content shop-description">
            <ul>
                <li>
                    <div class="list-item">
                        <h5 class="is-size-5">Products</h5>
                        <h5 class="is-size-5">Price ($)</h5>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <p class="is-marginless">Neck Wood: Ebano</p>
                        <p class="is-marginless">$35.00</p>
                    </div>
                </li>
                <li>
                    <div class="list-item">
                        <p class="is-marginless">Neck Wood: Ebano</p>
                        <p class="is-marginless">$35.00</p>
                    </div>
                </li>
            </ul>
            <hr />
            <div class="list-item">
                <h5 class="is-size-5 is-marginless">Total</h5>
                <h5 class="is-size-5 is-marginless">$35.00</h5>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a [attr.href]="disableButton ? null : '#'" [class.disabled]="disableButton" href="#" class="card-footer-item"
            >Checkout</a
        >
    </footer>
</div>
